body{margin:0px;}
#panel{
	margin:0 auto;
	height:75px;
	width:100%;
	background:white;
}
#poloska{	
	position:absolute;
	left:0px;
	width:100%;
	height:100%;
}
#lenta{
	position:absolute;
	background:white;	
	top:75px;
	left:0px;
	width:100%;
	height:300px;
	overflow:hidden;
}
#s1,#s2,#s3{
	position:absolute;
	width:100%;
	height:100%;
	background:#7289da;
	font-size:100px;
}
#s2{
	left:100%;
}
#s3{
	left:200%;
}
#nazad, #vpered{
	position:absolute;
	width:100px;
	height:100px;
	top:50%;
	margin-top:-50px;
	background:#0000008a;
	border-radius:100%;
}
#nazad{
	left:15px;
}
#vpered{
	right:15px;
}
#panel2{
	position:absolute;
	height:50px;
	width:100%;
	background:white;
	top:375px;
}
#contact{
	margin: 0 auto;
	height:75px;
	width:100%;
	background:#47576c;	
	margin-top:750px;
}
#logo, #reg{
	position:absolute;
	background:lightgray;
	height:75px;
	width:200px;
	top:0px;
	font-size:25px;
}
#logo{
	background:white;
	left:0px;
	border:0px;
}
#lenta{
	margin:0 auto;
	width:100%;
}
#reg{
	font-size:18px;
	height:50px;
	width:125px;
	right:600px;
	top:12.5px;
}
#reg:active{
	color:white;
	background:gray;
}
#prof{
	position:absolute;
	background:lightgray;
	font-size:18px;
	height:75px;
	width:75px;
	right:10px;
	font-size:25px;
	border-radius:100%;
}
#prof:active{
	color:white;
	background:gray;
}
#verh{
	position:absolute;
	background:#00800000;
	width:50px;
	height:50px;
	top:850px;
	right:10px;
	border-radius:100%;
}
#glavp{
	position:absolute;
	background:lightgray;	
	top:425px;
	left:0px;
	width:100%;
	height:400px;
	overflow:hidden;
}
#news{
	position:absolute;
	width:500px;
	height:300px;
	background:white;
	top:50%;
	margin-top:-150px;
	left:50px;
	border-radius:25px;
	color:lime;
	text-align:center;
	font-size:30px;
}
#calendar{
	position:absolute;
	width:400px;
	height:200px;
	background:white;
	top:50%;
	margin-top:-100px;
	right:50px;
	border-radius:25px;
	color:lime;
	text-align:center;
	font-size:30px;
}